* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  height: auto;
  text-align: start;
  width: 100%;
}

.app {
  max-width: 1200px;
  margin: auto;
  padding: 1em;
  color: #2c3e50;
}

a {
  color: #2c3e50;
}

header {
  margin: 2em 0;

  h1 {
    font-size: 30px;
  }
}

ol {
  list-style-position: inside;
  margin-left: 2em;
}

h1,
h2 {
  font-size: 30px;
  margin: 20px 0;
}

.projects,
.smallprojects,
.faq,
.examproject,
.dates {
  display: flex;
  justify-content: center;
  text-align: center;

  ul {
    margin: 0 20px;
    p {
      margin: 10px 0;
    }
    text-align: left;
    li {
      margin: 5px 0;
    }
  }

  div {
    display: flex;
    flex-direction: column;
    svg {
      margin: 10px auto;
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    padding-top: 10px;
  }
}

.exam {
  display: flex;
  flex-direction: column;
  align-items: center;

  ul {
    h3 {
      margin: 10px 0;
    }
    margin: 0 20px;
    li {
      list-style: outside;
      margin: 10px 0;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  padding: 20px;
}

.errorMessage {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 12px;
}

@media (max-width: 2000px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .logo {
    width: 40%;
  }
}
@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
