* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  height: auto;
  text-align: start;
}

.app {
  padding: 2em;
}

header {
  margin: 2em 0;

  h1 {
    font-size: 30px;
  }
}

ol {
  list-style-position: inside;
  margin-left: 2em;
}

h1 {
  color: rgb(50, 50, 50);
  font-size: 30px;
  margin: 20px 0;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
