.greenButton {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #217022;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
  padding: 5px;

  h4 {
    font-size: 15px;
    color: white;
  }
}

.redButton {
  width: 100px;
  background: #df4747;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
  padding: 5px;

  h4 {
    font-size: 15px;
    color: white;
  }
}

.orangeButton {
  width: 100px;
  background: rgb(255, 191, 71);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
  padding: 5px;

  h4 {
    font-size: 15px;
    color: white;
  }
}
