.groupsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.groupBox {
  display: flex;
  align-items: center;
  gap: 40%;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  background: #f9f9f9;
  max-width: 600px;
  margin: 0 auto;
}

.groupIinfo,
.taskInfo {
  width: 50%;
}

.taskInfo {
  li {
    text-align: end;
  }
}

.taskInfo ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.taskInfo strong {
  display: block;
  margin-bottom: 5px;
}

.groupInfo ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
