.form {
  width: 100%;
  margin: 2em auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  h5 {
    margin: 5px 0;
  }
}

.form h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 20px;
}

.form div {
  margin-bottom: 15px;
}

.form label {
  display: block;
  font-size: 15px;
  color: #555;
  margin-bottom: 5px;
}

.previewImage {
  margin: 10px;
}

.form input[type="text"],
.form input[type="number"],
.form input[type="password"],
.form input[type="date"],
.form input[type="file"],
.form textarea,
.form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
  box-sizing: border-box;
}

.form input[type="text"]:focus,
.form input[type="number"]:focus,
.form input[type="file"]:focus,
.form input[type="password"]:focus,
.form select:focus {
  border-color: #007bff;
  outline: none;
}

.form textarea {
  font-family: "Titillium Web", sans-serif;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;

  #text {
    color: white;
  }
}

/* @media (max-width: 600px) {
  .form {
    font-size: 10px;
  }
} */
